# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
#
# Wikimedia Tool Labs specific note:
#   Please be aware that *only* jsub and jstart are acceptable
#   commands to schedule via cron.  Any command specified here will
#   be modified to be invoked through jsub unless it is one of
#   the two.
#

# Variables
JOB_NAME=HashtagUpdate
PYTHON_BIN=/data/project/ifttt/www/python/venv/bin/python
UPDATE_SCRIPT=/data/project/ifttt/hashtags/update.py
CRON_LOG_PATH=/data/project/ifttt/hashtags/logs/cron.txt
SCRIPT_LOG=/data/project/ifttt/hashtags/logs/update_log.txt
 
# m h  dom mon dow   command
*/10 * * * *  jsub -o $SCRIPT_LOG -N en$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang en >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N ca$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ca >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N es$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang es >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N nl$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang nl >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N fr$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang fr >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N fi$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang fi >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N it$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang it >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N zh$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang zh >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N no$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang no >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N ja$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ja >> $CRON_LOG_PATH 
*/15 * * * *  jsub -o $SCRIPT_LOG -N ro$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ro >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N pl$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang pl >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N pt$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang pt >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N ru$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ru >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N de$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang de >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $SCRIPT_LOG -N sv$JOB_NAME $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang sv >> $CRON_LOG_PATH
