# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
#
# Wikimedia Tool Labs specific note:
#   Please be aware that *only* jsub and jstart are acceptable
#   commands to schedule via cron.  Any command specified here will
#   be modified to be invoked through jsub unless it is one of
#   the two.
#

# Variables
PYTHON_BIN=/data/project/hashtags/virtualenvs/hashtags/bin/python
UPDATE_SCRIPT=/data/project/hashtags/hashtags/update.py
CRON_LOG_PATH=/data/project/hashtags/hashtags/logs/cron.txt
LOGPATH=/data/project/hashtags/hashtags/logs
 
# m h  dom mon dow   command
*/10 * * * *  jsub -o $LOGPATH/en_out.txt -N enHashtagUpdate -e $LOGPATH/en_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang en >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/ca_out.txt -N caHashtagUpdate -e $LOGPATH/ca_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ca >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/es_out.txt -N esHashtagUpdate -e $LOGPATH/es_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang es >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/nl_out.txt -N nlHashtagUpdate -e $LOGPATH/nl_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang nl >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/fr_out.txt -N frHashtagUpdate -e $LOGPATH/fr_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang fr >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/fi_out.txt -N fiHashtagUpdate -e $LOGPATH/fi_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang fi >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/it_out.txt -N itHashtagUpdate -e $LOGPATH/it_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang it >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/zh_out.txt -N zhHashtagUpdate -e $LOGPATH/zh_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang zh >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/no_out.txt -N noHashtagUpdate -e $LOGPATH/no_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang no >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/ja_out.txt -N jaHashtagUpdate -e $LOGPATH/ja_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ja >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/ro_out.txt -N roHashtagUpdate -e $LOGPATH/ro_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ro >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/pl_out.txt -N plHashtagUpdate -e $LOGPATH/pl_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang pl >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/pt_out.txt -N ptHashtagUpdate -e $LOGPATH/pt_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang pt >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/ru_out.txt -N ruHashtagUpdate -e $LOGPATH/ru_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang ru >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/de_out.txt -N deHashtagUpdate -e $LOGPATH/de_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang de >> $CRON_LOG_PATH
*/15 * * * *  jsub -o $LOGPATH/sv_out.txt -N svHashtagUpdate -e $LOGPATH/sv_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang sv >> $CRON_LOG_PATH
*/16 * * * *  jsub -o $LOGPATH/pa_out.txt -N paHashtagUpdate -e $LOGPATH/pa_err.txt $PYTHON_BIN $UPDATE_SCRIPT --hours 1 --lang pa >> $CRON_LOG_PATH

